
{% load staticfiles %}
<!	DOCTYPE HTML>	
<html lang="pl">
<head>
	
		<meta charset="utf-8"/>
		<meta http-qiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>naszblog</title>
		
		<meta name="description" content="Serwis blogowy"/>
		<link href="{% static "style.css" %}" rel="stylesheet"/>
		<!-- <link href="style.css" rel="stylesheet" type="text/css" /> -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat&amp;subset=latin-ext" rel="stylesheet">

		
</head>

<body>

	<div class="wrapper">
	 
		<a href="{% url 'blogs:blogs' %}">	<div class="logo">
				<img src="{% static 'images/opydl.png' %}" style="float: left;"/>
			</div></a>

			<div class="search">
				<form method='GET' action="{% url 'blogs:search' %}">
					<input type='text' name='q' placeholder='Wyszukaj' size="16" value='{{ request.GET.q }}'/>
					<input type='submit' value='Szukaj' />
				</form>
			
			</div>
		
		<div class="content">
			
			<div class="rightNav">
				{% block content %}
				<h1>Zerowanie hasła</h1>
				<p>Wysłaliśmy Ci wiadomość e-mail wraz z instrukcjami pozwalającymi na zdefiniowanie nowego hasła.</p>
				<p>Jeżeli nie otrzymałeś tej wiadomości, to upewnij się, że w formularzu zerowania hasła wpisałeś adres e-mail podany podczas zakładania konta użytkownika.</p>
				{% endblock %}
			</div>	
		</div>
		
	</div>
	
</body>
</html>



